/* .signup-box {
    width: 400px;
    padding: 20px;
    background: #1f293a;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signup-box h2 {
    font-size: 2em;
    color: #0ef;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 20px;
}

.custom-label {
    display: block;
    text-align: left;
    color: #fff;
}

body {
    background-color: #1f293a;
} */
































/* Signup.css */

/* Add custom styles if needed */
/* 